#
# Copyright (c) 2021 Malakai King
# SPDX-License-Identifier: MIT
#

config BOARD_COMFYTHMBS-LEFT
	bool "comfythumbs-left"
	depends on SOC_NRF52840_QIAA

config BOARD_COMFYTHUMBS-RIGHT
	bool "comfythumbs-right"
	depends on SOC_NRF52840_QIAA
